%p
  - if can? :destroy, @post
    = link_to '[X]', [comment.post, comment], |
      :confirm => 'Are you sure?',                        |
      :method => :delete                                  |
  %b From:
  = comment.commenter
%p
  = comment.body
