<p>
  <b>Name:</b>
  <%= comment.commenter %>
</p>

<p>
  <b>Content:</b>
  <%= comment.body %>
</p>

<p>
  <% if can? :destroy, @post %>
    <%= link_to 'Destroy Comment', [comment.post, comment],
                 :confirm => 'Are you sure?',
                 :method => :delete %>
  <% end %>
</p>