// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////////////  HEADER  ////////////////////////
#headband{
  padding: 10px 0px 10px 20px;
  margin: -10px -8px 0px -8px;
  height: 80px;
  background-color: #191919;
  color: #FFFFFF;
  
  -webkit-box-shadow: 0px 3px 10px 2px #898989;
}

#admin_nav{
  padding-bottom: 10px;
  float: left;
}
.search_bar{
  float: right;
  margin-right: 10%;
}


////////////////////  CONTENT  ////////////////////////
.body{
  background-color: #CCC;
}

.page_title{
  margin-left: 10px;
}

.notice{
  font-color: #FF0000;
}

#content{
  width: 80%;
  margin-left: 9.5%;
  .block_content{
    background-color: #FFF;
    width: 100%;
    padding: 10px 10px 10px 10px;
    -webkit-box-shadow: 3px 2px 10px 2px #898989;
    -webkit-border-radius: 0px 0px 10px 10px;
  }
}

#post_table{
  width: 100%;
  tr, td{
    text-align: center;
  }
}

.new_post_link{
  margin-top: 15px;
  margin-left: 50%;
}
////////////////////  FOOTER  ////////////////////////