// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////////////  HEADER  ////////////////////////
#headband{
  padding: 10px 0px 10px 20px;
  margin: -10px -8px 0px -8px;
  height: 80px;
  background-color: #191919;
  color: #FFFFFF;
  
  -webkit-box-shadow: 0px 3px 10px 2px #898989;
}

#admin_nav{
  padding-bottom: 10px;
  float: left;
  a{
    color: #488CA1;
  }
}
.search_bar{
  float: right;
  margin-right: 10%;
}


////////////////////  CONTENT  ////////////////////////
.body{
  background-color: #CCC;
}

.page_title{
  margin-left: 10px;
}

.notice{
  font-color: #FF0000;
}
h1, h2 {
  text-shadow: 1px 1px #AEAEAE
}

#content{
  width: 80%;
  margin-left: 9.5%;
  .block_content{
    background-color: #FFF;
    padding: 10px 10px 10px 10px;
    -webkit-box-shadow: 3px 2px 10px 2px #898989;
    -webkit-border-radius: 0px 0px 10px 10px;
    .block_post{
      padding-top: 1px;
      padding-left: 5px;
      padding-bottom: 5px;
      background-color: #F7F9F9;
      margin-left: 0px;
      margin-top: 10px;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: 0px 1px 2px #898989;
      
      .post_content, .post_title, .post_author, .post_tags{
        width: 600px;
      }
    }
  }
}
.new_post_link{
  margin-top: 15px;
  text-align: center;
}
////////////////////  FOOTER  ////////////////////////
.paginate{
  text-align: center;
}
